body {
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/originals/45/d0/79/45d0790c293e5dba3077f4ad0c4826c6.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

.blur-box {
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

h2, a {
    text-decoration: none;
    color: black;
}

.show:hover h2, .show:hover h3, .show:hover a {
    color: goldenrod;
}

.title {
    font-size: 5vw;
    margin: 20px 0px;
    align-self: center;
}

.show img {
    max-height: 50vh;
    border-radius: 20px;
}

@media (max-width: 475px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}